apache:
  build: Dockerfile
  image: {{ AWS_ACCOUNT_ID }}.dkr.ecr.{{ AWS_DEFAULT_REGION }}.amazonaws.com/hipages/apache
  pre:
    - echo "Preparing"
  post:
    - echo "Finished"
  test:
    - DOCKER_IMAGE={{ AWS_ACCOUNT_ID }}.dkr.ecr.{{ AWS_DEFAULT_REGION }}.amazonaws.com/hipages/apache:latest bundle exec rspec
